.breath-animation-nest-cool{
    animation: breath-nest-cool 5s infinite;
}

@keyframes breath-nest-cool{
    from {background-color: #435ffd;}
    50% {background-color: #6bb8ff;}
    to {background-color: #435ffd;} 
}

.breath-animation-nest-heat{
    animation: breath-nest-heat 5s infinite;
}

@keyframes breath-nest-heat{
    from {background-color: #ff684d;}
    50% {background-color: #f84a4a;}
    to {background-color: #ff684d;} 
}