.breath-animation-nest-cool{
    animation: breath-nest-cool 5s infinite;
}

.breath-animation-nest-cool div{
    color: white !important;
}

.nest-off{
    background-color: white;
}

@keyframes breath-nest-cool{
    from {background-color: #05f;}
    50% {background-color: #0084ff;}
    to {background-color: #05f;} 
}

.breath-animation-nest-heat{
    animation: breath-nest-heat 5s infinite;
}

@keyframes breath-nest-heat{
    from {background-color: #ff684d;}
    50% {background-color: #f84a4a;}
    to {background-color: #ff684d;} 
}